.div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div>input {
    width: 400px;
    padding: 4px;
    font-size: 12px;
}

.label {
    font-size: 20px;
}

input {
    background-color: transparent;
}